@mixin section-padding {

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    
    @include media-breakpoint-up(md) { 
        padding-left: 30px;
        padding-right: 30px;
    }

    @include media-breakpoint-up(xl) { 
        padding-left: 50px;
        padding-right: 500px;
    }
}