.global-nav {
    @include section-padding;

    background-color: $global-nav-bg;
}

.page-content {
    padding: 0 0 3rem;

    h1.page-title {
        @include section-padding;

        margin-bottom: 3rem;
    
        background-color: $page-title-bg;
    }
}
